{% extends "base.html" %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Categoies</h1>
                <p class="lead fw-normal text-white-50 mb-0">Choose your category below...</p>
            </div>
        </div>
    </header>

    <div class="container mt-2 mb-2">
        <div class="row">
            <center>
            <div class="col-lg-8 mx-auto">
                {% for category in categories %}
                    <h3><a class="dropdown-item" href="{% url "category" category %}">{{category}}</a></h3>
                {% endfor %}
            </div>
            </center>
        </div>
    </div>   
{% endblock %}